USE [master]
GO
/****** Object:  Database [CALIZ]    Script Date: 02/09/2017 02:20:46 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'CALIZ')
BEGIN
CREATE DATABASE [CALIZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CALIZ', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CALIZ.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CALIZ_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CALIZ_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CALIZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
